<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
        <!--声明Servlet-->
<!--    <servlet>-->
<!--        &lt;!&ndash;servlet的别名&ndash;&gt;-->
<!--        <servlet-name>first</servlet-name>-->
<!--        <servlet-class>com.imooc.servlet.FirstServlet</servlet-class>-->
<!--    </servlet>-->

<!--        &lt;!&ndash;将servlet与url绑定&ndash;&gt;-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>first</servlet-name>-->
<!--        <url-pattern>/hi</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>