<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="Dog" class="com.imoooc.spring.ioc.entity.Dog">
        <property name="username" value="汪汪"/>
        <property name="age" value="2"/>
    </bean>
    <bean id="Cat" class="com.imoooc.spring.ioc.entity.Dog">
        <property name="username" value="喵喵"/>
        <property name="age" value="5"/>
    </bean>

</beans>